block contents
  footer.footer
    .footer__container
      a(href="#").footer__to-top-btn
        .footer__to-top-btn-icon
      img(src="img/logos/yeeell-logo.svg", alt="").footer__logo
      img(src="img/icons/twitter-icon.svg", alt="").footer__social-icon
      p.footer__text 〒150-0031 東京都渋谷区桜丘町29-33渋谷三信マンション405#[br]
        | © YEEELL All Rights Reserved.
      