block contents 
  footer.footer-lower
    .footer-lower__socials
      a(href="#").footer-lower__socials-item
        img(src="img/icons/twitter-icon-white.svg", alt="")
      a(href="#").footer-lower__socials-item.footer-lower__socials-item--facebook
        img(src="img/icons/facebook-icon-white.svg", alt="")
    .footer-lower__sitemap 
      a(href="#") お知らせ
      a(href="#") 事業内容
      a(href="#") 会社案内
      a(href="#") 数字で見るアイ・ビルド
      a(href="#") 採用情報
    .footer-lower__lower-container
      .footer-lower__logos 
        img(src="img/logos/footer-logo-1.png", alt="").footer-lower__logos-first
        img(src="img/logos/footer-logo-2.png", alt="").footer-lower__logos-second
      span.footer-lower__company-name 株式会社アイ・ビルド
      span.footer-lower__address 〒123-0862 東京都足立区皿沼3-20-15
      .footer-lower__contact 
        a(href="#")  TEL: 03-3896-1711（代）
        span FAX: 03-3896-2700
      p.footer-lower__copyright Copyright© 2010 AI-BUILD Corporation. All Rights Reserved.
      a(href="#").footer-lower__to-top-btn
