block contents 
  header.header-lower.js-header
    .header-lower__left
      span.header-lower__left-top-text 外装建材工事・太陽光発電工事・建築一式工事
      img(src="img/logos/ai-build-logo.png", alt="").header-lower__left-logo
    .header-lower__toggler.js-toggler
    .header-lower__right
      nav.header-lower__nav 
        a(href="#").header-lower__nav-item お知らせ
        a(href="#").header-lower__nav-item 事業内容
        a(href="#").header-lower__nav-item 会社案内
        a(href="#").header-lower__nav-item 数字で見るアイ・ビルド
        a(href="#").header-lower__nav-item 拠点案内
        a(href="#").header-lower__nav-item スタッフの声
        a(href="#").header-lower__nav-item 採用情報
      .header-lower__tel
        span.header-lower__tel-number TEL.03-3896-1711
        a(href="#").header-lower__tel-btn
          span.header-lower__tel-btn-text お問い合わせ