mixin video(thumbnail, views)
  .video__box
    a(href="#").video__player
      img(src= thumbnail, alt="").video__thumbnail
      .video__player-icon
    p.video__views-text 
      | １か月間で 
      span.video__views-amount= views
      |  回再生！