$primary: #f7fc8c;
$secondary: #f2387b;

$text: #2f2f2f;
$text-red: #d4004e;
$black: #000;
$white: #fff;
$gray: #d5d5d5;

$gold: #deb408;
$pink: #f794c9;
$green: #21a48f;
$blue: #69b2ed;
$purple: #bb94f7;
$light-blue: #c5e5fc;
$pastel-purple: #f0e6fb;
$pastel-blue: #e7f3ff;
$pastel-pink: #ffebf3;
$light-gray: #f7f7f7;
$medium-gray: #adadad;
$dark-gray: #979797;
$darker-gray: #585858;
$darkest-gray: #383838;

$primary-lower: #1b1c80;
$text-lower: #333;
$blue-green: #00b2bc;
$light-gray-lower: #f1f1f1;
$gray-lower: #ccc;
$dark-gray-lower: #999;
$yellow-lower: #ffe952;

$twitter-bg: #30a6df;
$facebook-bg: #2a569c;

