$primary: #f7fc8c;
$secondary: #f2387b;

$text: #2f2f2f;
$black: #000;
$white: #fff;
$gray: #d5d5d5;

$gold: #deb408;
$pink: #f794c9;
$green: #21a48f;
$blue: #69b2ed;
$purple: #bb94f7;
$light-blue: #c5e5fc;
$pastel-purple: #f0e6fb;
$pastel-blue: #e7f3ff;
$pastel-pink: #ffebf3;
$dark-gray: #979797;

$primary-lower: #1b1c80;
$blue-green: #00b2bc;

