@font-face {
  font-family: "Playlist Script";
  src: url("/fonts/Playlist Script.otf");
}

$yugo: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
$noto: 'Noto Sans JP', sans-serif;
$poppins: 'Poppins', sans-serif;
$playlist: 'Playlist Script', sans-serif;
$abel: 'Abel', sans-serif;
