@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;
@use 'tools/function' as function;
@use 'tools/mixin' as mixin;

.footer {
  background-color: color.$primary;
}

.footer__container {
  width: 100%;
  @include mixin.center;
  flex-direction: column;
  margin-top: -100px;
  gap: 20px;
  padding-bottom: 30px;
}

.footer__to-top-btn {
  position: relative;
  margin-top: 270px;
  width: 100%;
  height: function.getpc(60px);
  background-color: color.$text;
  @include mixin.center;
  cursor: pointer;

  &-icon {
    width: function.getpc(21px);
    height: function.getpc(21px);
    background-image: url("../img/icons/to-top-icon.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.footer__logo {
  width: function.getpc(178px);
  height: function.getpc(40px);
  margin-top: 25px;
}

.footer__social-icon {
  width: function.getpc(25px);
  height: function.getpc(20px);
  margin-top: 10px;
}

.footer__text {
  text-align: center;
  font-size: function.getpc(12px);
  line-height: function.getem(12, 36);
}