@use 'tools/function' as function;
@use 'tools/mixin' as mixin;

.skew {
  position: relative;
  transform: skewY(6deg);
  overflow: hidden;
  margin-top: function.getpc(100px);
}

.skew__remove-skew {
  transform: skewY(-6deg); //remove skew inside the container
}