@use 'tools/function' as function;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as media-query;
@use 'settings/font-weight' as font-weight;
@use 'settings/color' as color;

.video-player {
  @include mixin.center;
  position: relative;
  width: 100%;
  overflow: hidden;

  &,
  & * {
    cursor: pointer;
  }

  &::after {
    content: '';
    display: block;
    padding-top: function.getpercent(528, 297);
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/icons/play-icon.svg");
    width: function.getpc(100px);
    height: function.getpc(100px);
  }

  &__url {
    display: none;
  }
}