@function getsp($val) {
  $result: calc(330/750) * $val;
  @return $result;
}

@function getsp375($val) {
  $result: calc(375/750) * $val;
  @return $result;
}

@function getem($base-size, $illust-lheight) {
  @return calc($illust-lheight / $base-size) * 1em;
}

@function getpc($val) {
  $result: calc(1366/1920) * $val;
  @return $result;
}

@function getpercent($width, $height) {
  $result: calc($height / $width) * 100%;
  @return $result;
}