@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;
@use 'tools/function' as function;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as media-query;

.about {
  height: function.getpc(843px);
  background-color: color.$primary;
  margin-top: function.getpc(100px);
  @include media-query.sp {
    height: auto;
    margin-top: 30px;
    padding: 50px 0;
  }
}

.about__container {
	width: 100%;
	height: 100%;
	@include mixin.center;
	flex-direction: column;
}

.about__logo {
  width: function.getpc(445px);
  height: function.getpc(100px);
  @include media-query.sp {
    width: 180px;
    height: 50px;
  }
}

.about__title {
  margin-top: 23px;
  font-size: function.getpc(24px);
  font-weight: font-weight.$bold;
  @include media-query.sp {
    margin: 15px 0 0 28px;
    font-size: 14px;
  }
}

.about__paragraph {
  margin-top: 31px;
  font-size: function.getpc(28px);
  line-height: function.getem(28, 49);
  text-align: center;
  @include media-query.sp {
    max-width: 90vw;
    font-size: 14px;
  }
}