@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;
@use 'settings/font-family' as font-family;
@use 'tools/function' as function;
@use 'tools/mixin' as mixin;

.call-to-action {
  height: function.getpc(540px);
  background-color: color.$secondary;
}

.call-to-action__container {
	width: 100%;
	height: 100%;
	@include mixin.center;
	flex-direction: column;
  gap: 15px;
  margin-top: -15px;
}

.call-to-action__headline {
	font-family: font-family.$playlist;
	font-size: function.getpc(44px);
	color: color.$primary;
	transform: rotate(-10deg);
}

.call-to-action__text {
  font-size: function.getpc(40px);
  font-weight: font-weight.$bold;
  color: color.$white;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: function.getem(40, 60);
}

.call-to-action__bottom-container {
  @include mixin.center;
  width: 100%;
}

.call-to-action__btn {
  width: 100%;
  max-width: function.getpc(600px);
  height: function.getpc(100px);
  background-color: color.$white;
  border-radius: function.getpc(50px);
  border: none;
  margin-top: 20px;
  @include mixin.center;
  justify-content: center;
  gap: 14px;
  position: absolute;

  &,
  & * {
    cursor: pointer;
  }

  &:hover {
    background-color: color.$primary;
  }

  &-text {
    font-size: function.getpc(30px);
    font-weight: font-weight.$bold;
    letter-spacing: .04em;
    color: color.$secondary;
  }

  &-icon {
    width: function.getpc(60px);
    height: auto;
  }
}

.call-to-action__dialogue {
  background-image: url('../img/index-page/cta/dialogue-bubble.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: function.getpc(255px);
  height: function.getpc(129px);
  @include mixin.center;
  position: relative; 
  left: -300px; 
  top: -25px; 

  &-text {
    font-size: function.getpc(36px);
    font-weight: font-weight.$bold;
    color: color.$white;
  }
}