@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;
@use 'settings/font-family' as font-family;
@use 'tools/function' as function;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as media-query;

.case {
  height: function.getpc(1175px);
  background-color: color.$pastel-pink;
  @include media-query.sp {
    height: auto;
    padding: 80px 0;
  }
}

.case__main-container {
	width: 100%;
	height: 100%;
	@include mixin.center;
	flex-direction: column;
	gap: 40px;
	position: relative;
  margin-top: -20px;

	&::before { //sets the background image
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 1597px;
    height: 96%;
		background-image: url("../img/index-page/case/case-section-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 57% 50%;
    @include media-query.sp {
      background-position: top center;
      background-repeat: repeat-y;
    }
  }
}

.case__title {
  margin-top: -10px;
}

.case__outer-border {
  width: 100%;
  max-width: function.getpc(1280px);
  height: function.getpc(800px);
  background-color: color.$purple;
  padding: function.getpc(30px) function.getpc(50px);
  border-radius: function.getpc(15px);
  @include media-query.sp {
    width: 90vw;
    height: auto;
    padding: 6px 12px;
    border-radius: 5px;
  }
}

.case__box{
  background-color: color.$white;
  border-radius: function.getpc(9px);
  width: 100%;
  height: 100%;
  @include mixin.center;
  flex-direction: column;
  justify-content: flex-start;
  @include media-query.sp {
    border-radius: 3px;
    padding-bottom: 50px;
  }
}

.case__heading {
  font-size: function.getpc(32px);
  letter-spacing: 0.04em;
  color: color.$purple;
  height: 115px;
  @include mixin.center;
  @include media-query.sp {
    font-size: 16px;
    height: 90px;
    padding: 25px 0;
  }

  &--small {
    font-size: function.getpc(30px);  
    @include media-query.sp {
      font-size: 14px;
      height: 90px;
      padding: 25px 0;
    }
  }
}

.case__upper-container {
  @include mixin.center;
  gap: 30px;
  align-items: flex-start;
  height: function.getpc(305px);
  @include media-query.sp {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
  }
}

.case__left-section {
  @include mixin.center;
  flex-direction: column;
  align-items: flex-start;
  @include media-query.sp {
    width: 100%;
  }
}

.case__video-details {
  @include mixin.center;
  justify-content: center;
  padding-bottom: 10px;
  gap: 10px;
}

.case__video-category {
  font-size: function.getpc(16px);
  font-weight: font-weight.$bold;
  line-height: 1em;
  color: color.$white;
  background-color: color.$purple;
  padding: 3px 7px;
  border-radius: function.getpc(12px);
  @include media-query.sp {
    font-size: 12px;
  }
}

.case__video-title {
  font-size: function.getpc(24px);
  font-weight: font-weight.$bold;
  color: color.$purple;
  letter-spacing: .1em;
  @include media-query.sp {
    font-size: 12px;
  }
}

.case__video {
  width: function.getpc(464px);
  height: function.getpc(261px);
  @include media-query.sp {
    width: 100%;
    height: auto;
  }
}

.case__paragraph {
  align-self: center;
  font-size: function.getpc(28px);
  line-height: function.getem(28, 49);
  width: function.getpc(510px);
  @include media-query.sp {
    font-size: 14px;
    width: 100%;
    min-height: 80px;
  }

  &--small {
    font-size: function.getpc(24px);
    @include media-query.sp {
      font-size: 10px;
      width: 100%;
      min-height: 80px;
    }
  }
}

.case__views-text {
  font-size: function.getpc(40px);
  font-weight: font-weight.$bold;
  color: color.$text;
  letter-spacing: .04em;
  @include mixin.center;
  height: 130px;
  @include media-query.sp {
    font-size: 12px;
    height: auto;
    padding-top: 10px;
    max-height: 100px;
  }
}

.case__views-amount {
  font-family: font-family.$poppins;
  font-weight: font-weight.$bold;
  font-size: function.getpc(80px);
  color: color.$purple;
  letter-spacing: 0;
  line-height: 1em;
  height: function.getpc(100px);
  background-image: url("../img/index-page/case/case-text-decoration.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 30px;
  margin: 0 10px;
  @include media-query.sp {
    font-size: 30px;
    height: 40px;
  }
}