@use 'settings/color' as color;
@use 'settings/font-weight' as font-weight;
@use 'settings/font-family' as font-family;
@use 'tools/function' as function;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as media-query;

.video {
  height: function.getpc(1072px);
  background-color: color.$pastel-purple;
  @include media-query.sp {
    height: auto; 
  }
    
  &::before { //set first white border
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: function.getpc(100px);
    background-color: color.$white;
    z-index: 1;
    @include media-query.sp {
      height: 30px;
    }
  }
}

.video__container {
  width: 100%;
  height: 83%;
  @include mixin.center;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  @include media-query.sp{
    margin: 80px 0;
    padding: 0 20px;
  }

  &::before { //sets the background image
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 1597px;
    height: 100%;
    background-image: url("../img/index-page/video/video-section-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    @include media-query.sp{
      background-size: 110vw; 
      background-repeat: repeat-y;
      background-position: top right;
    }
  }
}

.video__items {
  @include mixin.center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 55px;
  width: 100%;
  @include media-query.sp{
    flex-direction: column;
    gap: 20px;
    margin: 40px auto 0;
    padding: 0 15%;
    width: 100%;
  }
  @media screen and (max-width: 440px) {
    padding: 0;
    width: 90%;
  }
}

.video__wrapper {
  position: relative;
  width: 100%;
  max-width: function.getpc(620px);
  @include media-query.sp {
    margin: auto;
    left: -50px;
  }
  @media screen and (max-width: 440px) {
    left: 0;
  }

  &::after {
    content: '';
    display: block;
    padding-top: function.getpercent(620, 527); 
  }

  &:nth-child(2) {
    margin-top: 70px;
    @include media-query.sp {
      margin-top: 0;
      left: auto;
      right: -50px;
    }
    @media screen and (max-width: 440px) {
      right: 0;
    }
  }
}

.video__box {
  background-image: url("../img/index-page/video/video-decoration.svg");
  background-repeat: no-repeat;
  padding: 12% 11% 12% 4%;
  position: absolute;
  top: 0;
  left: 0;
  @include mixin.center;
  flex-direction: column;
  gap: 20px;
  @include media-query.sp {
    width: 100%;
  }
}

.video__views-text {
  @include mixin.center;
  text-align: center;
  font-weight: font-weight.$bold;
  font-size: function.getpc(30px);
  color: color.$text;
  @include media-query.sp {
    font-size: 14px;
  }
}

.video__views-amount {
  font-family: font-family.$poppins;
  font-weight: font-weight.$bold;
  color: color.$green;
  font-size: function.getpc(60px);
  line-height: 1em;
  margin: 0 10px;
  @include media-query.sp {
    font-size: 30px;
  }
}