extends includes/layout.pug
block variables
  - var bannerText = "お問い合わせ"
  - var bannerImage = "img/contact-page/contact-banner.png"
block content
  .contact 
    form(action="" name="contact-form").contact__form 
      p.contact__top-instruction.contact__top-instruction--bold 弊社へのお問い合わせは以下のフォームをご利用ください。
      .contact__input 
        label.contact__input-label お名前
        .contact__input-required-label
        span 姓
        span 名
      .contact__input 
        label.contact__input-label お名前（フリガナ）
        .contact__input-required-label
        span セイ
        span メイ
      .contact__input 
        label.contact__input-label 所在地
        .contact__input-required-label
        span 東京都
      .contact__input 
        label.contact__input-label 会社名・団体名
        .contact__input-required-label.contact__input-required-label--not-required
        span 株式会社〇〇
      .contact__input 
        label.contact__input-label 部署
        .contact__input-required-label.contact__input-required-label--not-required
        span 〇〇部
      .contact__input 
        label.contact__input-label 役職
        .contact__input-required-label.contact__input-required-label--not-required
        span 〇長
      .contact__input 
        label.contact__input-label メールアドレス
        .contact__input-required-label
        span example@xxxxxx.cp.jp
      .contact__input 
        label.contact__input-label 電話番号
        .contact__input-required-label
        span 012-3456-7890
      .contact__input.contact__input--inquiry
        label.contact__input-label お問い合わせ内容
        .contact__input-required-label
        p これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。
      .contact__btn-wrapper
        button(type="button" name="back").contact__btn.contact__btn--white 戻る
        button(type="submit" name="submit").contact__btn 送信する
block script
  script(src="js/lower/index.ts")
