extends includes/layout.pug
block variables
  - var bannerText = "お問い合わせ"
  - var bannerImage = "img/contact-page/contact-banner.png"
block content
  main.main
    section.main__section.contact.contact--finish.skew
      .contact__container.skew__remove-skew
        h2.contact__heading CONTACT
        .contact__form-box
          h3.contact__form-heading 企業様のお問い合わせ
          form(action="" name="contact-form").contact__form 

            p この度は、お問い合わせいただきましてありがとうございます。#[br]
            | お問い合わせを受け付けました。#[br] 
            | 改めて、担当よりご連絡をさせていただきます。#[br]
            | 今しばらくお待ちくださいますようお願い申し上げます。

            .contact__btn-container
              button(type="button" name="top") トップへ戻る

  //- main
  //-   section.contact 
  //-     .contact__form 
  //-       p.contact__top-instruction.contact__top-instruction--bold 弊社へのお問い合わせは以下のフォームをご利用ください。      
  //-       p この度は、お問い合わせいただきましてありがとうございます。#[br]
  //-         | お問い合わせを受け付けました。#[br] 
  //-         | 改めて、担当よりご連絡をさせていただきます。#[br]
  //-         | 今しばらくお待ちくださいますようお願い申し上げます。
  //-       a(href="#").contact__btn トップへ戻る
block script
  script(src="js/lower/index.ts")