extends includes/layout.pug
block variables
  //- - var bannerText = "お問い合わせ"
  //- - var bannerImage = "img/contact-page/contact-banner.png"
  - var contact = true
block content
  main.main
    section.main__section.contact.contact--confirm.skew
      .contact__container.skew__remove-skew
        h2.contact__heading CONTACT
        .contact__form-box
          h3.contact__form-heading 企業様のお問い合わせ
          form(action="" name="contact-form").contact__form 

            .contact__input
              label.contact__label ご用件
              .contact__input-wrap
                span クリエイターへの広告出稿について
          
            .contact__input.contact__input--not-required
              label.contact__label 会社名
              .contact__input-wrap
                span A社

            .contact__input 
              label.contact__label 氏名
              .contact__input-wrap
                span 名前苗字

            .contact__input 
              label.contact__label 氏名(ふりがな)
              .contact__input-wrap
                span なまえ みょうじ

            .contact__input.contact__input--not-required
              label.contact__label 電話番号（半角）
              .contact__input-wrap.contact__input-wrap--tel
                span 1234
                span 5678
                span 9123

            .contact__input 
              label.contact__label メールアドレス
              .contact__input-wrap
                span sample_email@email.com

            .contact__input 
              label.contact__label 確認用メールアドレス
              .contact__input-wrap
                span sample_email@email.com

            .contact__input
              label.contact__label お問い合わせ内容
              .contact__input-wrap.contact__input-wrap--textarea
                p 認ナ自暮一トサ創1婦テミ着傷都ぜイ用覧ラ拝3思カレ観客で本4雨やほて劇惑伎じふ。主め本類トフツ郵分そレさ樺周学ヲコ体毎ハ堂高ソ間字シクネカ代代だ解転ぱゃぼと稿社げ円出確ノ球田申兼唱とゃフど。最83紙さぐぶ価約ろドげ多周モ願提よ頭高フよじ著人ぶ制裁ヒ拘爆ゃうレふ化出ずど左台カヱラニ父湾しどをル第山印劇わり。#[br] #[br]
                  | 64企1定か灰和マツヲ議導芸が高都ょずまラ理12験ツイア対学もまびあ玲意ん万言ヘレ終傷ば前軽に鋭最いるごお別像ヲヤユソ在便岐盟数ド。栄ア労能10供ソエ段意今社テ購民紙別ごじれン道書と満群へッお会正並ンク演少性じでね応識が最暫械む。中エネホ息択ろず合非ヘレエ止中な西事モソラム難見ネリテワ融相4虫ヲ藤訃ッ取関ノ視掲クヘエ健各ミオ制江リりわ真青うゆ。#[br] #[br]
                  | 女ス告手じかさ戦1更ケカス亡響ぞさと名転もレばゆ技月ばち吉再ぜぎ想陣ねぎ際選ツテ子際ッ番子著ッめぎ真一ル明併ルロ報草イト徳排撲隣れらず。国メチ設考コ立供ウヨニヒ回42三シコ桐能ノサフ権豪載納ばぽは発衆コヌニ理到あッち利仏惑イごび示覧打優涼ごう。握優ぱき必臓待ほへ速需ラリヘハ月標イネ意5生ケメ講病ねょづく者文るた制鈴モアヱ国終等速いず書労げ。

            .contact__input
              span.contact__label 個人情報の取り扱いについて同意する

            .contact__btn-container
              button(type="button" name="back") 戻る
              button(type="button" name="submit") 送信する
        
  //- main
  //-   section.contact 
  //-     form(action="" name="contact-form").contact__form 
  //-       p.contact__top-instruction.contact__top-instruction--bold 弊社へのお問い合わせは以下のフォームをご利用ください。
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text お名前
  //-           .contact__input-label-required
  //-         .contact__input-box-wrap
  //-           span 姓
  //-           span 名
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text お名前（フリガナ）
  //-           .contact__input-label-required
  //-         .contact__input-box-wrap
  //-           span セイ
  //-           span メイ
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text 所在地
  //-           .contact__input-label-required
  //-         span 東京都
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text 会社名・団体名
  //-           .contact__input-label-required.contact__input-label-required--not-required
  //-         span 株式会社〇〇
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text 部署
  //-           .contact__input-label-required.contact__input-label-required--not-required
  //-         span 〇〇部
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text 役職
  //-           .contact__input-label-required.contact__input-label-required--not-required
  //-         span 〇長
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text メールアドレス
  //-           .contact__input-label-required
  //-         span example@xxxxxx.cp.jp
  //-       .contact__input 
  //-         .contact__input-label
  //-           label.contact__input-label-text 電話番号
  //-           .contact__input-label-required
  //-         span 012-3456-7890
  //-       .contact__input.contact__input--inquiry
  //-         .contact__input-label
  //-           label.contact__input-label-text お問い合わせ内容
  //-           .contact__input-label-required
  //-         p これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。これはダミー文です。お問い合わせ内容が入ります。
  //-       .contact__btn-wrapper
  //-         button(type="button" name="back").contact__btn.contact__btn--white 戻る
  //-         button(type="submit" name="submit").contact__btn 送信する
block script
  script(src="js/lower/index.ts")
