extends includes/layout.pug
block content
  main.main
    section.main__section.hero
      .hero__image
      .hero__card
        p.hero__top-text Pick up!
        .hero__details-container
          span.hero__subtitle 人気インフルエンサー
          h2.hero__title ちゅるちゃんねる
          .hero__title-decoration
          p.hero__description 人中短縮や中顔面が短く見えるハイライトの入れ方など独自のメイク法を編み出し高クオリティなメイク法を発信している『ちゅるちゃんねる』
        .hero__subs-container 
          .hero__subs-decoration
          .hero__subs-wrapper
            p.hero__subs-text チャンネル登録者数
            h2.hero__subs-number 197,000
              span.hero__subs-unit 人
          .hero__subs-decoration.hero__subs-decoration--right
      .hero__widget
        .hero__widget-dialogue
          p.hero__widget-dialogue-text 約 60 秒で完了 ！
        a(href="#").hero__widget-seal
          img(src="img/icons/plane-icon.svg", alt="").hero__widget-icon
          p.hero__widget-text お問い合わせ
block script
  script(src="js/top/index.ts")