extends includes/layout.pug
include includes/mixin.pug
block content
  main.main
    section.main__section.hero
      .hero__image
      .hero__card
        p.hero__top-text Pick up!
        .hero__details-container
          span.hero__subtitle 人気インフルエンサー
          h2.hero__title ちゅるちゃんねる
          .hero__title-decoration
          p.hero__description 人中短縮や中顔面が短く見えるハイライトの入れ方など独自のメイク法を編み出し高クオリティなメイク法を発信している『ちゅるちゃんねる』
        .hero__subs-container 
          .hero__subs-decoration
          .hero__subs-wrapper
            p.hero__subs-text チャンネル登録者数
            h2.hero__subs-number 197,000
              span.hero__subs-unit 人
          .hero__subs-decoration.hero__subs-decoration--right
      .hero__widget
        .hero__widget-dialogue
          p.hero__widget-dialogue-text 約 60 秒で完了 ！
        a(href="#").hero__widget-seal
          img(src="img/icons/plane-icon.svg", alt="").hero__widget-icon
          p.hero__widget-text お問い合わせ
    section.main__section.video.skew
      .video__container.skew__remove-skew
        img(src="img/index-page/video/video-title.svg", alt="").title
        .video__items
          +video("img/index-page/video/movie-1.jpg", "74,563")
          +video("img/index-page/video/movie-2.jpg", "42,825")
    section.main__section.features.skew
      .features__container.skew__remove-skew
        .features__top-section
          h2.features__title 
            | こんな
            span.features__title-highlight お悩み 
            | をお持ちの企業様にオススメ
          .features__dialogue-container
            +dialogue("", "新商品やサービスを <br> いち早く広めたい ！")
            +dialogue("features__dialogue-bubble--second ", "適切なインフルエンサーの <br> 探し方がわからない ！")
            +dialogue("features__dialogue-bubble--third ", "女性に <br> 特化した <br> PR がしたい !")
            +dialogue("features__dialogue-bubble--fourth ", "ユーザーの <br> 反応を <br> 確かめたい ！")
        .features__bottom-section
          h2.features__title 
            | こんな
            span.features__title-highlight.features__title-highlight--blue アイテム 
            | を紹介することが得意です ！
          .features__offer-container
            +features("img/icons/makeup-icon.svg", "コスメ")
            +features("img/icons/skin-products-icon.svg", "スキンケア")
            +features("img/icons/dress-icon.svg", "洋服")
            +features("img/icons/hair-blower-icon.svg", "生活雑貨")
            +features("img/icons/drinks-icon.svg", "食品")
            +features("img/icons/comb-icon.svg", "ヘアケア")
            +features("img/icons/plane-ticket-icon.svg", "旅行")
            +features("img/icons/television-icon.svg", "アニメ")
    +call-to-action("Contact us", "広告出稿がはじめてのお客様にも <br> わかりやすくご説明いたします", "見積無料", "相談してみる", "", "")
    section.main__section.pr-points.skew  
      .pr-points__container.skew__remove-skew
        .pr-points__title
          .pr-points__title-decoration
          h2.pr-points__title-text ちゅるちゃんねるの
            img(src="img/index-page/pr-points/title-highlight.svg", alt="").pr-points__title-highlight
            | ポイント
          .pr-points__title-decoration.pr-points__title-decoration--right
        .pr-points__section-container
          +pr-points("", "", "img/index-page/pr-points/image1.png", "独自のメイク法", "人中短縮や中顔面が短く見えるハイライトの入れ方など独自のメイク法を編み出し高クオリティなメイク法を発信。<br> ちょっとした工夫で整形無しでも変われる ”自然” なメイク方法を教えてくれると好評をいただいております ！")
          +pr-points("pr-points__section--reverse", "pr-points__bullet--second", "img/index-page/pr-points/image2.png", "視聴者に寄り添った企画", "視聴者への寄り添い度は抜群 ！ ！<br> 元々二重まぶたですが、 奥二重に悩んでいる視聴者も多いということで、 アイテープを使用して奥二重にしたメイクを実施。<br> どこまでも視聴者に寄り添うスタイルが 「ここまでやってくれる人はいない」 と大変好評です。")
          +pr-points("", "pr-points__bullet--third", "img/index-page/pr-points/image3.png", "30代からの支持も", "30代に見えない30歳。<br> 以前は20代からの支持を多く集めていましたが、 30代に入ったことで30代以降からの検索流入が増えています。<br> 30代あざとい系女子の冬メイクは1ヶ月で約30万回再生を獲得しております。")
    section.main__section.case.skew 
      .case__container.skew__remove-skew 
        img(src="img/index-page/case/case-title.svg", alt="").title.case__title
        .case__outer-border
          .case__box
            h2.case__heading 【豊胸】 整形巨乳の宿命
            .case__upper-container
              .case__left-section 
                h3.case__video-details
                  span.case__video-category 案件商品
                  span.case__video-title ナイトブラ
                .case__video
                  a(href="#").video-player
                    img(src= "img/index-page/case/movie-6.jpg", alt="").video-player__thumbnail
                    .video-player__icon
              p.case__paragraph 持ち前のトーク力で視聴者の悩みに寄り添った訴求を行いました。#[br]
                | 大幅に売上へ直結したとクライアント様より大変高評価をいただきました ！
            h3.case__views-text 
              | 投稿から 1 か月で
              span.case__views-amount 40,058
              | 回再生 !
            .case__box-decoration
    section.main__section.about.skew
      .about__container.skew__remove-skew
        img(src="img/logos/yeeell-logo.svg", alt="").about__logo
        h2.about__title YEEELL とは？
        p.about__paragraph 女性をターゲットとしたインフルエンサーマーケティングが得意な会社です。#[br]
          | 女性クリエイターが多数在籍しており、 女性にターゲットを絞ったアプローチができます。#[br] #[br]
          | 事前に課題をお伺いし適切な広告メニューをご提案 #[br]
          | お客様の目的に合わせて広告を運用いたします。#[br]
          | その他ブランディングや売上拡大のための #[br]
          | 総合的なサポートも可能です。#[br] #[br]
          | まずはお気軽にご相談ください ！
    +call-to-action("Contact us", "インフルエンサーマーケティングが <br> 初めての企業様でも安心です ！", "お気軽に <br> ご相談ください", "話を聞いてみる", "call-to-action__dialogue--larger", "call-to-action__dialogue-text--smaller")

block script
  script(src="js/top/index.ts")